<div class="home-page">

    <div class="banner" *appShowAuthed="false">
        <div class="container">
            <h1 class="logo-font">SmartID</h1>
            <p>A place to share your <i>Angular 2</i> knowledge.</p>
        </div>
    </div>


    <div class="container page">
        <div class="row">
            <div class="col-12 col-md-12">
                <fieldset>
                    <legend>Informações Pessoais</legend>
                    <input type="checkbox" name="CPF" value="1.1"> CPF
                    <br>
                    <input type="checkbox" name="Nome Completo" value="1.2"> Nome Completo
                    <br>
                    <input type="checkbox" name="Identidade" value="1.3"> Identidade
                    <br>
                    <input type="checkbox" name="Órgão Emissor da Identidade" value="1.4"> Órgão Emissor da Identidade
                    <br>
                    <input type="checkbox" name="UF de emissão identidade" value="1.5"> UF de emissão identidade
                    <br>
                    <input type="checkbox" name="Data de nascimento" value="1.6"> Data de nascimento
                    <br>
                    <input type="checkbox" name="Nome da mãe" value="1.7"> Nome da mãe
                    <br>
                    <input type="checkbox" name="Nome do pai" value="1.8"> Nome do pai
                    <br>
                    <input type="checkbox" name="Endereço residencial" value="1.9"> Endereço residencial
                    <br>
                    <input type="checkbox" name="Logradouro" value="1.9.1"> Logradouro
                    <br>
                    <input type="checkbox" name="Número" value="1.9.2"> Número
                    <br>
                    <input type="checkbox" name="Complemento" value="1.9.3"> Complemento
                    <br>
                    <input type="checkbox" name="Bairro" value="1.9.4"> Bairro
                    <br>
                    <input type="checkbox" name="CEP" value="1.9.5"> CEP
                    <br>
                    <input type="checkbox" name="Cidade" value="1.9.6"> Cidade
                    <br>
                    <input type="checkbox" name="UF" value="1.9.7"> UF
                    <br>
                    <input type="checkbox" name="País" value="1.9.8"> País
                    <br>
                    <input type="checkbox" name="Endereço cobrança" value="1.10"> Endereço cobrança
                    <br>
                    <input type="checkbox" name="Logradouro" value="1.10.1"> Logradouro
                    <br>
                    <input type="checkbox" name="Número" value="1.10.2"> Número
                    <br>
                    <input type="checkbox" name="Complemento" value="1.10.3"> Complemento
                    <br>
                    <input type="checkbox" name="Bairro" value="1.10.4"> Bairro
                    <br>
                    <input type="checkbox" name="CEP" value="1.10.5"> CEP
                    <br>
                    <input type="checkbox" name="Cidade" value="1.10.6"> Cidade
                    <br>
                    <input type="checkbox" name="UF" value="1.10.7"> UF
                    <br>
                    <input type="checkbox" name="País" value="1.10.8"> País
                    <br>
                    <input type="checkbox" name="Título de eleitor" value="1.11"> Título de eleitor
                    <br>
                    <input type="checkbox" name="Número" value="1.11.1"> Número
                    <br>
                    <input type="checkbox" name="Zona" value="1.11.2"> Zona
                    <br>
                    <input type="checkbox" name="Seção" value="1.11.3"> Seção
                    <br>
                    <input type="checkbox" name="PIS/PASEP" value="1.12"> PIS/PASEP
                    <br>
                    <input type="checkbox" name="CTPS" value="1.13"> CTPS
                    <br>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <fieldset>
                    <legend>Informações Plano de Saúde</legend>
                    <input type="checkbox" name="Código identificação" value="2.1.1"> Código identificação
                    <br>
                    <input type="checkbox" name="Tipo" value="2.1.2"> Tipo
                    <br>
                    <input type="checkbox" name="Descrição" value="2.1.3"> Descrição
                    <br>
                    <input type="checkbox" name="Titular plano" value="2.2"> Titular plano
                    <br>
                    <input type="checkbox" name="CPF" value="2.2.1"> CPF
                    <br>
                    <input type="checkbox" name="Identidade" value="2.2.2"> Identidade
                    <br>
                    <input type="checkbox" name="Nome completo" value="2.2.3"> Nome completo
                    <br>
                </fieldset>
            </div>

        </div>
        <div>
            <button class="btn btn-lg btn-primary pull-xs-right" type="submit">
               Gerar QRCode
              </button>
        </div>

    </div>

</div>