<div class="home-page">

    <div class="banner" *appShowAuthed="false">
        <div class="container">
            <h1 class="logo-font">SmartID</h1>
            <p>A place to share your <i>Angular 2</i> knowledge.</p>
        </div>
    </div>

    <div class="container page">
        <div class="row">

            <div class="col-md-12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porta nunc et quam vestibulum, et porta velit fringilla. Nulla varius elementum tortor, eu volutpat metus pellentesque sit amet. Fusce pharetra nibh eget turpis molestie aliquam. Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. Praesent non orci bibendum, porttitor velit ac, tristique sapien. Suspendisse at risus pretium, pulvinar mauris vel, finibus nulla. Etiam venenatis arcu eget nisi ullamcorper, vitae condimentum
                ante dapibus. Morbi ac urna eget sem finibus bibendum. In vel justo nec odio imperdiet vehicula non et magna. Morbi nec erat pellentesque, ornare lorem eget, eleifend dolor. Nam et ligula dolor. In quis massa facilisis, viverra mauris
                at, consectetur turpis. Integer accumsan risus vel fringilla lacinia. Pellentesque eleifend bibendum orci, vitae feugiat ligula dapibus quis. Phasellus dignissim semper pharetra. Donec tempor elit quis volutpat finibus. Nam a ullamcorper
                nunc, non scelerisque lorem. Pellentesque sed lacus in sapien auctor pretium. Praesent in orci quis mi auctor hendrerit ut eget ante. Quisque a tellus ex. Integer ut finibus ante. Integer velit sem, eleifend quis luctus et, venenatis vel
                ante. Nullam porttitor, lacus eu vestibulum volutpat, sem eros dapibus nibh, lobortis aliquam purus dui et nisi. Praesent laoreet justo quis ex mattis lobortis. Donec convallis mi et mauris maximus, eu bibendum orci commodo. Curabitur
                vitae eleifend diam. Ut eu nisi id odio sagittis finibus commodo in metus. Morbi vel massa in leo posuere ultrices. Donec sed cursus sem. Aenean imperdiet aliquam sapien, ac congue purus feugiat in. Phasellus aliquam diam mi. In hac habitasse
                platea dictumst. Aenean ipsum augue, faucibus quis imperdiet id, sagittis eget elit. Phasellus lobortis, ipsum sit amet vehicula blandit, nisi purus rhoncus lorem, non ornare metus neque vel felis. Ut placerat vel sapien non tincidunt.
                Nunc sollicitudin libero odio, ac iaculis odio tristique vitae. Mauris nec lectus sed leo euismod ullamcorper quis ornare risus. Donec rutrum eu ligula non ullamcorper. Suspendisse sodales urna neque, eu facilisis nunc pharetra sed. Duis
                ut mollis leo. Phasellus sed massa ligula. Integer hendrerit lacus scelerisque quam imperdiet dapibus. Aliquam erat volutpat. Aenean porttitor sapien id ipsum auctor, vitae suscipit magna consectetur. Suspendisse eu quam ex. Proin mi augue,
                tincidunt nec dictum at, semper ut tellus. Nullam non felis auctor, gravida massa tincidunt, rhoncus nulla. Donec faucibus id mi eu iaculis. Integer in tempor metus. Nulla pretium, dui at tempor mollis, elit magna feugiat tellus, sit amet
                vulputate urna nisi pretium mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ex mi, malesuada nec dui sed, posuere ullamcorper massa. Phasellus venenatis rhoncus purus, vel euismod turpis elementum non. Curabitur sit amet
                arcu sed sem sodales ullamcorper eget at tortor. Nunc odio nisi, ornare porttitor orci a, dictum ornare eros. Duis nec efficitur nisl. Proin ornare arcu nec diam porttitor tempor. Nullam quis quam sit amet ipsum sagittis tempus id sed
                leo. Quisque mollis tortor efficitur ultricies rhoncus. Duis ipsum ex, ullamcorper vel tempus ut, tempor nec sapien. Donec vel urna enim. In eget facilisis urna. Etiam sed metus velit. Sed sed risus a felis egestas tincidunt. Donec id
                condimentum diam. Suspendisse potenti.
            </div>
        </div>
    </div>
</div>